.persona{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.personas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    background: rgb(59,242,228);
    background: linear-gradient(90deg, rgba(59,242,228,0.7848389355742297) 0%, rgba(53,186,169,1) 0%, rgba(53,200,224,1) 73%);
}

.persona_imagen {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 500px;
}

.persona_nombre {
    display: flex;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 40px 0 0 0;
    color: #112245;
}

.persona_cargo {
    display: flex;
    margin: 10px 0 20px 0;
    color: #354F85;
}

.persona_social {   
    width: 50px;
    height: 50px;
    border-radius: 17px;
    padding: 5px;
    transition: 0.5s;
}

.persona_social:hover {
    opacity: 75%;
}

.personas_social {
    display: flex;
    justify-content: center;
}

.personas_slogan {
    display: flex;
    justify-content: center;
    background: rgb(23,36,0);
    background: linear-gradient(90deg, rgba(23,36,0,0.6111694677871149) 0%, rgba(9,121,114,0.9809173669467787) 0%, rgba(0,255,166,1) 63%);
    padding: 20px;
    font-size: xx-large;
    letter-spacing: 9px;
    color: white;
    font-family: 'Phudu', cursive;
}

/*parte responsiva*/
@media(max-width: 982px) {

    .persona {
        background-color: #CBB185;
        padding: 20px;
        margin: 10px 0;
        width: auto;
    }

    .persona_imagen {
        margin: 0 40px;
    }

    .persona_nombre {
        text-align: center;
    }

    .personas_slogan {
        font-size: large;
        text-align: center;
    }

}